@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--background: #edede9;
	--background2: #e3d5ca;
	--accent: #fcd34d;
	--foreground: #171717;
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #171717;
		--background2: #000;
		--foreground: #edede9;
	}
}

body{
	background-color: var(--background);
}